.social {
  display: flex;
  justify-content: center;
}

.social img {
  padding: 0.75rem;
  width:   1.50rem;
  height:  1.50rem;
}

.social .twitter {
  color: #1DA1F2;
}

.social .gmail {
  color: #D14836;
}

.social .instagram {
  fill: #E4405F;
}
