.social {
  display: flex;
  justify-content: center;
}

.social i {
  padding: 0.75rem;
  font-size: 1.5rem;
}
.social .fa-twitter:hover {
  color: #1DA1F2;
}

.social .fa-envelope:hover {
  color: #D14836;
}

.social .fa-instagram:hover {
  color: #E4405F;
}
